@import url('https//fonts.googleapis.com/css2?family=quikstand&display=swap'); 
/*base style*/
:root {
    --primary-color:#4caf50;
    --secondary-color:#111111;

}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'quikstand' sans-serif;
    color:#111111;
}
h1 {
    font-size: 30px;
    font-weight: 600;
}

p{
    margin:20px 0 10px;
}

section{
    display:flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
}

section.others {
    flex-direction: column;
    margin-top: 60px;
}

/* Homepage*/
.logo {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 600;
    z-index: 25;
}

.main-image {
    position: absolute;
    right: 0;
    width: 430px;
    height: auto;
}

.main-content {
    position: relative;
    max-width: 300px;
    z-index: 15;
}

/*button*/
.btn {
    padding: 10px 30px;
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    margin: 20px 0;
    border: 0;
}

.btn:hover {
    transform: scale(0.80);
}
/*Menu*/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 25;
    background: var(--primary-color) url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu.active {
    background: var(--primary-color) url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*navigation*/
.navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    left: 0;
}

.navigation ul li  {
    position: relative;
    list-style-type: none;
    text-align: center;
}
.navigation ul li  {
    font-size: 2.2rem;
    color:#111111;
    text-decoration: none;
    font-weight: 400;

}


.navigation ul li a:hover {
    color: var(--primary-color);
}
.navigation .social-icons {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-icons a {
    display: inline-block;
    transform: scale(0.5); 
}

/* services page*/

.services{

    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    text-align: center;
}
.services .service{
    padding: 30px;
}

.services .service:hover {
    box-shadow: 0 10px 30px rgb(0,  0, 0, 0.1);
}

.services .service{
    font-size: 2px;
    font-weight: 400;
    margin-top: 20px;
    color: #111111;
}

.services .service .icon img {
    max-width: 100px;
}

/* work*/
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.portfolio .item {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 5px;
}

.portfolio .item img {
    width: 100%;
    height: 100%;
}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,  0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.portfolio .item:hover .action {
    opacity: 1;
}

.portfolio .item .action a {
    color: #fff;
    display: inline-block;
    text-decoration:  none;
    border: 1px solid #fff;
    padding:  5px 15px;
}

/* contact*/

.contact {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    position: relative;
    background: #9f9f9f;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
}

.contact-form form {
    width: 100%;
}

.contact-form .row {
    width: 100%;
    display: flex;
    margin: 5px 10px;
}

.contact-form .fullinput {
    width: 100%;
    margin: 0 30px;
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(78, 76, 76, 0.8);
    color: #111;
    background:  transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    resize: none;
}
.contact-form .row textarea {
    height: 120px;
}

.contact-form .row input[type='submit'] {
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
}

.contact-info {
    width: 350px;
    background: #f9f9f9;
    padding: 80px 40px 50px;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .details  a {
    color: #111;
}
.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
}
/* style for smartphone */

@media screen and (max-width:600px) {
    .logo {
        top: 20px;
        left: 50px;
        font-size: 2rem;
        font-weight: 600;
    }

section {
    padding: 50px;
}

.navigation ul li a {
    font-size: 1.5rem;
    font-weight: 300;
}

.main-image {
    display: none;
}

.main-content {
    width: 100%;
}

.services {
    grid-template-columns: repeat(1, 1fr);

}
.services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form{
    width: 100%;
    padding: 60px 0 20px;
}

.contact-info {
    width: 100%;
    margin: 20px 0;
    padding: 60px 10px 20px;
}

.contact-form .row {
    margin: 15px 0;
}
}